<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title>Connections</title>
	  <link rel="stylesheet" href="stylesheets/foundation.css">
	  <script src="javascripts/vendor/custom.modernizr.js"></script>
	</head>
  <body>
  	<div class="row">
  		<div class="small-12 columns" style="text-align: center">
    		<h2>Welcome to Connections!</h2>
    		<h3 class="subheader">The coolest app ever! (someday)</h3>
    	</div>
    </div>

    <div class="row" style="padding-top: 30px">
    	<div class="small-12 columns small-centered">
    		<span style="font-size: 24px;">Step 1: Click this button to see what cities you are connected to:</span>
    		<a class="button" href="/friends">Connect</a>
    	</div>
    </div>

    <div class="row">
    	<div class="small-12 columns small-centered">
    		<span style="font-size: 24px;">Step 2: There is no step 2!</span>
    	</div>
    </div>

  </body>
</html>